---
layout: layouts/base
---
<div class="illustration__container">
  <h2> {{ post_title }} </h2>
  <img class="homepage__illustration-image--large" src="{{ image }}" alt-text="{{ alt_text }}">
</div>
{{ content | safe}}