---
layout: layouts/base
title: Index of my cool site
---
<div class="homepage__container">
  <div class="homepage__upper">
    <section class="homepage__main">
      {% include "components/about.njk" %}
      <h2>Latest</h2>
      <ul class="homepage__blog-list">
      {%- for post in collections.post -%}
        {% if loop.revindex <=5 %}
          <li><h3 class="homepage__blog-title"><a href="{{ post.url }}">{{ post.data.post_title }}</a></h3>
              <div class="homepage__blog-date"> {{ post.date.toDateString() }} </div>
          </li>
        {% endif %}
      {%- endfor -%}
        <li><h3 class="homepage__blog-title"><a href="/blogs/">See All Blog Posts</a></h3>
        </li>
      </ul>
      <h2>Recent Projects</h2>
      <ul class="homepage__recent-pro-list">
      {%- for project in collections.projects -%}
        <li>
          <h3 class="homepage__recent-pro-title">
            {{ project.data.project_title }}
          </h3>
          <ul>
            {%- for item in project.data.project_details %}
              <li>{{ item }}</li>
            {% endfor -%}
          </ul>
        </li>
      {%- endfor -%}
      </ul>
    </section>
    <aside class="homepage__rail">
      {% include "components/reading_list.njk" %}
      {% include "components/quests.njk" %}
    </aside>
  </div>
  <div class="homepage__lower">
    <section class="homepage__illustration">
      <h2> Illustrations</h2>
      <ul class="homepage__illustration-list">
      {%- for illustration in collections.illustration -%}
        <li>
          <button class="js-modal button homepage__illustration-button" data-modal-prefix-class="simple" data-modal-alt='{{ illustration.data.alt_text }}' data-modal-text="<img src='{{ illustration.data.image | safe}}' alt='{{ illustration.data.post_title }}'>" data-modal-title="" data-modal-close-text="Close" data-modal-close-title="Close this window" id="illustraiton-modal-1" aria-haspopup="dialog"><span class="visually-hidden">Open Larger version of image of {{ illustration.data.title }} illustration</span><img class="homepage__illustration-image--small" src=".{{ illustration.data.image }}"></button>
        </li>
      {%- endfor -%}
      </ul>
    </section>
  </div>
</div>
