
:root {
  --site-main: #e8e7e0;
  --body-text: #333;
  --site-red: #c5532f;
  --site-blue: #0d4663;
  --site-black: #000;
  --site-white: #fff;
}

//Fonts
$site-font-title:'Open Sans Condensed', sans-serif;
$site-font-body: 'Open Sans', sans-serif;

//https://css-tricks.com/snippets/css/fluid-typography/
$min_width: 320px;
$max_width: 1200px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {

    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

//Breakpoints
$bp-sm: 450px;
$bp-md: 760px;
$bp-lg: 960px;

//Mixins
@mixin breakpoint($width) {
  @media (min-width: $width) {
    @content ;
  }
}

@mixin border-bottom-dots() {
  border: 0;
  border-bottom: 10px solid transparent;
  border-image: url('../img/borderThing.gif') 10 round stretch;
}

html {
  font-size: 100%;
}

body {
  background: var(--site-main);
  color: var(--body-text);
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: $site-font-body;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  text-transform: uppercase;
  color: var(--site-red);
  font-family: $site-font-title;
  font-weight: bold;
  margin: 2rem 0 1rem;

  a {
    text-decoration: underline;
  }
}

h1 {
  @include fluid-type($min_width, $max_width, 42px, 88px);
}

h2 {
  @include fluid-type($min_width, $max_width, 38px, 48px);
  position: relative;

  &::after {
    content: '';
    width: 35px;
    height: 37px;
    display: inline-block;
    margin-left: 15px;
    background-image: url('../img/afterThing.gif');
  }
}

h3 {
  @include fluid-type($min_width, $max_width, 28px, 32px);
}

h4 {
  font-size: 1.5rem;
}

a {
  color: var(--site-red);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--site-blue);
  }
}

code {
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: auto;
  border-left: 4px solid var(--site-black);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

//Header

.header__lower {
  margin-top: 20px;
  display: flex;

  @include breakpoint($bp-md) {
    margin-top: 40px;
  }
}

.header__social {
  display: flex;
}

.header__social-item {
  width: 70px;
  height: 70px;

  svg path {
    transition: fill 0.8s linear;
    fill: var(--site-red);
  }

  &:hover,
  &:focus {

    svg path {
      fill: var(--site-blue);
    }
  }
}

.header__bar {
  background-color: var(--site-red);
  width: 1000%;
  height: 70px;
  margin-right: -100%;
  margin-left: 20px;
  position: relative;
  display: none;

  @include breakpoint($bp-md) {
    display: block;
  }
}

.header-shadow {
  @include border-bottom-dots();
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 8px;
}

/* Layout */

.l-two-col-70-30 {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-md) {
    flex-direction: row;
  }
}

.l-two-col-left {
  width: 100%;
  @include breakpoint($bp-md) {
    width: calc(80% - 3rem);
    margin-right: 3rem;
  }
}

// Homepage Layout

.homepage__upper {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-md) {
    flex-direction: row;
    padding: 3rem 0 0;
  }
}

.homepage__main {
  width: 100%;

  @include breakpoint($bp-md) {
    width: 66%;
    margin-right: 40px;
  }
}

.homepage__rail {
  width: 100%;

  @include breakpoint($bp-md) {
    width: 33%;
  }
}

.homepage__blog-list,
.homepage__recent-pro-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom: 7px solid var(--site-blue);
  padding-bottom: 2rem;

  @include breakpoint($bp-md) {
    grid-template-columns: 1fr 1fr;
  }
}

.homepage__blog-date {
  font-weight: bold;
  color: var(--site-blue);
}

.homepage__blog-title {
  margin-bottom: 0.5rem;
}

// Modal from https://github.com/nico3333fr/van11y-accessible-modal-window-aria
/* needed for old browsers */
dialog {
  display: block;
  border: 0;
}

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}

/* overlay covers everything */
.simple-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--body-text);
  opacity: 0.8;
  z-index: 666;
  cursor: pointer;
}

.simple-modal-overlay[data-background-click='disabled'],
.simple-animated-modal-overlay[data-background-click='disabled'] {
  cursor: auto;
}

/* modal */
.simple-modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  max-height: 98vh;
  border: 2px solid var(--site-red);
  background: var(--site-white);
  z-index: 667;
  padding: 2rem;
  right: auto;
  overflow: auto;
  max-width: 900px;
}

.simple-modal__content {
  width: 80vw;
  height: 50vh;

  @include breakpoint($bp-md) {
    width: 60vw;
    height: 80vh;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.simple-modal__wrapper {
  position: relative;
}

.simple-modal-close {
  background: var(--site-red);
  border-radius: 0;
  color: var(--site-white);
  border: 0;
  font: inherit;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  right: -21px;
  top: -21px;
}

.simple-modal-close:focus,
.simple-modal-close:hover,
.simple-modal-close:active {
  outline: 1px dotted var(--site-white);
}

.simple-modal-close:hover,
.simple-modal-close:active {
  background: var(--site-black);
}

.homepage__illustration-image--small {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.homepage__illustration-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.about-section,
.reading-list-section {
  padding-bottom: 2rem;
  border-bottom: 7px solid var(--site-blue);
}

.about-section__text {
  font-weight: bold;
  font-size: 20px;
}

.homepage__illustration-list {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  border-bottom: 7px solid var(--site-blue);
  padding-bottom: 2rem;
  border: 0;

  @include breakpoint($bp-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Posts */

.post__date {
  font-weight: bold;
  color: var(--site-blue);
}

.post__image {
  margin: 2rem 0;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.post__content {

  ul {
    padding: 0 0 0 1rem;

    li {
      list-style-type: disc;
      margin: 0 0 0 1rem;
    }
  }
}
